---
import "../styles/global.css"
---

<section class="text-[var(--dark)] mt-12 md:mt-0" id="home">
  <div class="max-w-5xl mx-auto space-y-8 md:py-36 pb-14">
    <div class="text-left space-y-4">
      <p class="text-body font-medium md:text-2xl">
        Hai, saya adalah
      </p>
        <h1
          class="text-[var(--body)] text-5xl md:text-6xl font-medium text-pretty"
        >Muhammad Fathir Al Faruq
        </h1>
        <p class="text-md md:text-2xl text-[var(--body-icon)]">
          Suka belajar mengenai Cloud Server serta Artificial Intellegence (Mechine Learning) dan tertarik dengan bahasa <span class="text-[var(--sec)] shiny-sec"
            >Pemrograman</span
          > JavaScript.
        </p>
  </div>
</section>
